p {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
body {
    background-color: #863ca6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

.campo {
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 14px;
}

button {
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px;
}

.conta-bancaria {
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.saldo {
  font-size: 20px;
  margin-bottom: 15px;
}

.extrato {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}

.operacoes input,
.operacoes select {
  padding: 8px;
  margin-right: 8px;
  font-size: 14px;
}

.operacoes button {
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.operacoes button:hover {
  background-color: #2980b9;
}

.bem-vindo {
    text-align: center;
    font-size: 18px;
    color: #2980b9;
    margin-bottom: 15px;
    font-weight: 500;
}